@font-face {
	font-family: openSans-Regular;
	src: url(OpenSans-Regular.ttf);
}

/*------Basic Alignment------*/

body{
	background-color: #e5e8e2;
	font-family:openSans-Regular;
    margin: 0%;
}

.a, .b, .c,.d,.e{
	background-color: #FEE9B8;
	padding: 1%;
    position: relative;
    
	/* border: 1px solid white; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 25px;
}

.a{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    background-color: #F9AB82;
    position: relative;
    padding: 1%;
}

.b{
    margin: 0%;
    padding: 0%;
    position: relative;
    background-color: #f3e6c9;
}

.c{
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: #F1432E;
}

/*--------Header--------*/

.a h1{
    padding-left: 5%;
    font-family: "Times New Roman", Times, serif;
    color: #f3e6c9;
    float: left;
}

#navbar{
    padding-top: 2%;
}

#navbar ul{
    padding-right: 240px;
    list-style: none;
    float: right;
}

#navbar li{
    color: #f3e6c9;
    display: inline-block;
    font-weight: bold;
    margin-left: 80px;
}

.nav-item:hover{
    color: #79933b;
}

.search{
    position: absolute;
    right : 40px;
    display: inline-block; 
}

.search input{
    border-radius: 25px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/*------Home Page------*/

.home{
    padding-bottom: 3%;
}

.home-search{
    height: 400px;
}

.home-search img{
    border-radius: 25px;
    border-top-right-radius: 25px;
    position: absolute;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 100%;
    opacity: 0.6;
}

.home-search input{
    position: relative;
    width: 600px;
    height: 70px;
    left: 30%;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    font-size: 20px;
    
}

.home-search h1{
    font-family: "Times New Roman", Times, serif;
    margin: 0%;
    font-size: 60px;
    position: relative;
    padding-top: 80px;
    padding-bottom: 20px;
    left: 39%;
}

.home-text1{
    padding: 3%;
    padding-left: 10%;
    position: relative;
    font-family: "Times New Roman", Times, serif;
}

.home-text1 h2{
    color: black;
    float: left;
}

.home-text1 p{
    font-family: openSans-Regular;
    float: left;
    padding-right: 60%;
}

.home-text1 a{
    position: absolute;
    font-family: openSans-Regular;
    background-color: #79933b;
    color: #f3e6c9;
    font-size: 20px;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 50%;
    margin-top: 6%;
    border-radius: 5px;
}

.home-text1 a:hover{
    background-color: #3f4e1e;
}


.home-text2{
    padding: 3%;
    padding-top: 15%;
    padding-left: 10%;
    position: relative;
    font-family: "Times New Roman", Times, serif;
}

.home-text2 h2{
    color: black;
    float: left;
}

.home-text2 p{
    font-family: openSans-Regular;
    float: left;
    padding-right: 60%;
    padding-bottom: 5%;
}

.home-text2 a{
    position: absolute;
    font-family: openSans-Regular;
    background-color: #79933b;
    color: #f3e6c9;
    font-size: 20px;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 50%;
    margin-top: 6%;
    border-radius: 5px;
}

.home-text2 a:hover{
    background-color: #3f4e1e;
}

/*------ABOUT US------*/
.aboutUs p{
    margin-left: 51%;;
    margin-right: 15%;
}

.ourProject{
    float: left;
    padding: 3%;
    background-color: #CFE3EC;
}

.ourProject h1{
    font-size: 50px;
    margin-left: 51%;
}

.ourProject img{
    position: absolute;
    float: right;
    margin: 0%;
    margin-left: 18%;
    width: 350px;
}

.ourProject p{
    float: left;
    line-height: 2.3;
}

.ourTeam img{
    position: absolute;
    margin-top: 2%;
    width: 230px;
    margin-left: 20%;
}

.ourTeam{
    float: right;
    padding: 3%;
}

.ourTeam h2{
    text-align: center;
    color: black;
    margin-left: 12%;
}

.ourTeam p{
    line-height: 2.3;
    margin-top: 0%;
    margin-bottom: 5%;
}

.ourTeam h3{
    font-size: 45px;
}

/*------FOOTER------*/
.c h3{
    color: #f3e6c9;
    font-size: 12px;
}
/*------ETC------*/

h3{
    text-align: center;
}

h2{
    color: #F6E7CB;
}

.a{grid-area: a;}

.b{grid-area: b;}

.c{grid-area: c;}

.d{grid-area: d;}

.e{grid-area: e;}


.wrapper { 
    display:grid; 
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(1fr, auto); 
    grid-gap: 1%;
    grid-template-areas: 
    
    'a a a a'
    'b b b b' 
    'c c c c'
    ; 	
}
